* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, grey 1.14%, black 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  display: flex;
  position: relative;
  justify-content: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}